{% extends 'base.html' %}

{% block content %}
    <h2>Expiry Alerts</h2>
    {% if products %}
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Expiry Date</th>
            </tr>
            {% for product in products %}
                <tr>
                    <td>{{ product[0] }}</td>
                    <td>{{ product[1] }}</td>
                    <td>{{ product[2] }}</td>
                    <td>{{ product[3] }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No expired products found.</p>
    {% endif %}
{% endblock %}